.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .main_content .hammer {
    animation: hammer-animation 0.7s linear;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }
  .main_content .trigger {
    animation: trigger-animation 1s linear;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes hammer-animation {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

@keyframes trigger-animation {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-40deg);
  }
  81% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.main_content {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.main_content .gun {
  z-index: 1;
}

.main_content .hammer {
  position: absolute;
  transform: rotate(-15deg);
  right: 180px;
  top: 40px;
  z-index: 0;
}

.main_content .trigger {
  position: absolute;
  top: 35%;
  left: 50%;
}